.flex-column {
    display: flex;
    flex-direction: column;

    &.flex-left {
        align-items: flex-start;
    }

    &.flex-right {
        align-items: flex-start;
    }
    
    &.flex-bottom {
        justify-content: flex-start;
    }
}
  
.flex-row {
    display: flex;
    flex-direction: row;

    &.flex-bottom {
        align-items: flex-end;
    }

    &.flex-justify-center {
        justify-content: center;
    }
}

.flex-row, .flex-column {
    .flex-fill {
        flex-basis: 100%;
    }
}

  
@media #{$desktop} {
    .desktop-flex-column {
        display: flex;
        flex-direction: column !important;
    }

    .desktop-flex-row {
        display: flex;
        flex-direction: row !important;
    }
    
    .desktop-flex-row, .desktop-flex-column {
        .desktop-flex-fill {
            flex-basis: 100%;
        }
    }
}

@media #{$tablet} {
    .tablet-flex-column {
        display: flex;
        flex-direction: column !important;
    }

    .tablet-flex-row {
        display: flex;
        flex-direction: row !important;
    } 

    .tablet-flex-row, .tablet-column {
        .tablet-flex-fill {
            flex-basis: 100%;
        }
    }
}

@media #{$phone} {
    .phone-flex-column {
        display: flex;
        flex-direction: column !important;

        &.phone-flex-start {
            align-items: flex-start !important;
        }
    }

    .phone-flex-row {
        display: flex;
        flex-direction: row !important;
    }

    .phone-flex-row, .phone-flex-column {
        .phone-flex-fill {
            flex-basis: 100%;
        }
    }
}