*,
*:before,
*:after {
    box-sizing: border-box;
}

.rounded {
    border-radius: $border-radius;
}

.divider {
    $solid-border: .1rem solid $border-color !important;
    $dashed-border: .2rem dashed $border-color !important;
    $dotted-border: .2rem dotted $border-color !important;

    border-bottom: $solid-border;

    &.vertical {
        &, &.dashed, &.dotted {
            border-bottom: 0 none !important;
        }

        border-left: $solid-border;

        &.dashed {
            border-left: $dashed-border
        }
    
        &.dotted {
            border-left: $dotted-border;
        }
    }

    &.dashed {
        border-bottom: $dashed-border;
    }

    &.dotted {
        border-bottom: $dotted-border;
    }
}

.no-select {
    user-select: none;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.content-margin {
    margin: unit(2);
}

.content-margin-x {
    margin-left: unit(2);
    margin-right: unit(2);
}

.content-margin-y {
    margin-top: unit(2);
    margin-bottom: unit(2);
}

.content-margin-top {
    margin-top: unit(2);
}

.content-margin-bottom {
    margin-bottom: unit(2);
}

.content-margin-left {
    margin-left: unit(2);
}

.content-margin-right {
    margin-right: unit(2);
}

.content-padding {
    padding: unit(2);  
}

.content-padding-x {
    padding-left: unit(2);
    padding-right: unit(2);
}

.content-padding-y {
    padding-top: unit(2);
    padding-bottom: unit(2);
}

.content-padding-top {
    padding-top: unit(2);
}

.content-padding-bottom {
    padding-bottom: unit(2);
}

.content-padding-left {
    padding-left: unit(2);
}

.content-padding-right {
    padding-right: unit(2);
}

.section {

    &.info {
        color: $info-color;
        background: $info-background;
    }

    &.success {
        color: $success-color;
        background: $success-background;
    }

    &.warn {
        color: $warn-color;
        background: $warn-background;
    }

    &.secondary {
        color: $dark-gray;
        background: $hover-color;
    }

}

.animate {
    transition: all 300ms ease-in-out;
}

.clickable {
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;

    &.bottom {
        align-items: flex-end;
    }

    &.right {
        justify-content: flex-end;
    }

    &.justify-center {
        justify-content: center;
    }
}

.row,
.column {
    .fill {
        flex-basis: 100%;
    }
}

.elevate {
    @include boxShadow();
}

.inset {
    @include boxShadow(true);
}


@media #{$desktop} {
    .desktop-column {
        display: flex;
        flex-direction: column !important;
    }

    .desktop-row {
        display: flex;
        flex-direction: row !important;
    }

    .desktop-row,
    .desktop-column {
        .desktop-fill {
            flex-basis: 100%;
        }
    }

    .desktop-hide {
        display: none !important;
    }
}

@media #{$tablet} {
    .tablet-column {
        display: flex;
        flex-direction: column !important;
    }

    .tablet-row {
        display: flex;
        flex-direction: row !important;
    }

    .tablet-row,
    .tablet-column {
        .tablet-fill {
            flex-basis: 100%;
        }
    }

    .tablet-hide {
        display: none !important;
    }
}

@media #{$phone} {
    .phone-column {
        display: flex;
        flex-direction: column !important;

        &.phone-start {
            align-items: flex-start !important;
        }
    }

    .phone-row {
        display: flex;
        flex-direction: row !important;
    }

    .phone-row,
    .phone-column {
        .phone-fill {
            flex-basis: 100%;
        }
    }

    .phone-hide {
        display: none !important;
    }
}