*,
*:before,
*:after {
    box-sizing: border-box;
}

.divider {
    border-bottom: .1rem solid $border-color !important;

    &.dashed {
        border-bottom: .2rem dashed $border-color !important;
    }

    &.dotted {
        border-bottom: .2rem dotted $border-color !important;
    }
}

.no-select {
    user-select: none;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.content-padding {
    padding: unit(1) unit(1.5);  
}

.animate {
    transition: all 300ms ease-in-out;
}

.clickable {
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;

    &.bottom {
        align-items: flex-end;
    }

    &.right {
        justify-content: flex-end;
    }

    &.justify-center {
        justify-content: center;
    }
}

.row,
.column {
    .fill {
        flex-basis: 100%;
    }
}


@media #{$desktop} {
    .desktop-column {
        display: flex;
        flex-direction: column !important;
    }

    .desktop-row {
        display: flex;
        flex-direction: row !important;
    }

    .desktop-row,
    .desktop-column {
        .desktop-fill {
            flex-basis: 100%;
        }
    }

    .desktop-hide {
        display: none !important;
    }
}

@media #{$tablet} {
    .tablet-column {
        display: flex;
        flex-direction: column !important;
    }

    .tablet-row {
        display: flex;
        flex-direction: row !important;
    }

    .tablet-row,
    .tablet-column {
        .tablet-fill {
            flex-basis: 100%;
        }
    }

    .tablet-hide {
        display: none !important;
    }
}

@media #{$phone} {
    .phone-column {
        display: flex;
        flex-direction: column !important;

        &.phone-start {
            align-items: flex-start !important;
        }
    }

    .phone-row {
        display: flex;
        flex-direction: row !important;
    }

    .phone-row,
    .phone-column {
        .phone-fill {
            flex-basis: 100%;
        }
    }

    .phone-hide {
        display: none !important;
    }
}