h1, .h1 {
    font-size: unit(1.8);
    font-weight: 700;
    line-height: $golden-rule;
}

h2, .h2 {
    font-size: unit(1.65);
    font-weight: 700;
    line-height: $golden-rule;
}

h3, .h3 {
    font-size: unit(1.45);
    font-weight: 700;
    line-height: $golden-rule;
}

h4, .h4 {
    font-size: unit(1.3);
    font-weight: 700;
    line-height: $golden-rule;
}

h5, .h5 {
    font-weight: 700;
    line-height: $golden-rule;
}

h6, .h6 {
    font-weight: 700;
    line-height: $golden-rule;
}

p {
    font-weight: 400;
    line-height: $golden-rule;
}

a {
    color: $link-blue;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: darken($link-blue, 10%);
        text-decoration: underline;
    }

    &:active {
        color: $link-blue;
    }
}



h1,
h3,
p,
span,
div,
i,
strong {
    &.primary {
        color: $primary-color;
    }

    &.accent {
        color: $accent-color;
    }

    &.warn {
        color: $warn-color;
    }

    &.success {
        color: $success-color;
    }

    &.strong {
        font-weight: 500;
    }

    &.stronger {
        font-weight: 700;
    }
}

.no-wrap {
    white-space: nowrap;

    &.ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}