@mixin ButtonGroupFilledButton($background-color) {
    &.raised,
    &.flat {
        border: 0 none;
        border-right: unit(.0625) solid $border-color;
        
        &.active {
            background-color: lighten($background-color, 10%);
        }
    }
}

button,
.button {
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none !important;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    line-height: unit(2.25);
    padding: 0 unit(1.125);
    border-radius: $border-radius;
    overflow: visible;
    font-weight: 500;
    background: none;
    font-size: unit(1);
    min-width: unit(5.5);
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    font-family: $font-family;

    &:hover, &:focus {
        background-color: hover-color(#fff);
    }

    &.icon {
        min-width: unit(2.25);
        min-height: unit(2.25);
        border-radius: 50%;
        line-height: 0;
        text-align: center;
        padding: 0;

        &.small {
            min-width: unit(1);
            min-height: unit(1);
        }
    }

    &.raised {
        background-color: #fff;
        transition: box-shadow 300ms ease-in-out;
        @include boxShadow();

        &:disabled {
            @include boxShadow(true);
        }

        &:active {
            @include maxBoxShadow();
        }
    }

    &.flat {
        background-color: #fff;
    }

    &.flat,
    &.raised {
        
        &.primary {
            color: #fff;
            background: $primary-color;

            &:hover, &:focus  {
                background-color: lighten($primary-color, 7%);
            }
        }

        &.accent {
            color: #fff;
            background: $accent-color;

            &:hover, &:focus {
                background-color: lighten($accent-color, 7%);
            }
        }

        &.warn {
            color: #fff;
            background: $warn-color;

            &:hover, &:focus {
                background-color: lighten($warn-color, 7%);
            }
        }
    }

    @mixin defaultHover($color) {
        &:not(.flat):not(.raised) {
            &:hover,  &:focus {
                background-color: rgba($color, .2);
            }
        }
    }

    &.primary {
        color: $primary-color;
        @include defaultHover($primary-color);
    }

    &.accent {
        color: $accent-color;
        @include defaultHover($accent-color);
    }

    &.warn {
        color: $warn-color;
        @include defaultHover($warn-color);
    }

    &:disabled {
        color: $border-color;
        cursor: default;
        background: none;
        background-color: #efefef;
    }
}