.dialog {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .288);
        opacity: 0;
        pointer-events: none;
        transition: all 230ms ease-in;
        transition-delay: 500ms;
        visibility: hidden;

        &.opened {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
            transition: all 230ms ease-out;
            transition-delay: 0ms !important;
        }

        &.immediate {
            transition-delay: 0ms !important;
        }
    }

    .card {
        margin: unit(1);
        box-shadow: 0 unit(.6875) unit(.9375) unit(-.6475) rgba(0, 0, 0, .2),
            0 UNIT(1.5) unit(2.375) unit(.1875) rgba(0, 0, 0, .14),
            0 unit(.5625) unit(2.875)  unit(.5) rgba(0, 0, 0, .12);
        max-width: 90%;
        max-height: 90%;
        position: relative;
        transform: translateY(unit(6.25)) scale(.9);
        opacity: 0;
        transition: transform 230ms ease-in, opacity 230ms ease-in;
        transition-delay: 500ms;

        .card-toolbar  + .card-content {
            border-top: 0 none;
        }

        &.opened {
            opacity: 1;
            transform: none;
            transition: all 230ms ease-out;
            transition-delay: none;
        }

        &.immediate {
            transition-delay: 0ms !important;
        }

        .actions {
            justify-content: flex-end;

            button, .button {
                margin-right: unit(.5);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}