$highlight-color: $link-blue;
$placeholder-padding: unit(.5);
$placeholder-font-size: unit(1);
$placeholder-font-size-small: unit(.75);
$placeholder-transition: 200ms ease-in-out;
$input-font-size: unit(1);
$input-top: unit(.9375);
$input-height: unit(1.875);
$input-border-color: $gray;
$disabled-color: rgba(0, 0, 0, .52);

input,
textarea,
select {
    background-color: transparent;
}

.form-input {
    position: relative;
    margin-bottom: unit(3);
    width: 100%;

    &.hidden {
        display: none;

        &+.spacer {
            display: none;
        }
    }

    label {
        position: relative;
        display: block;
        width: 100%;
        min-height: $input-height + $input-top;
        margin-bottom: 0;
    }

    &.unlabeled {
        input,
        textarea,
        select {
            position: relative;
            top: 0;
        }
    }

    .placeholder {
        position: absolute;
        display: block;
        top: ($input-height / 2) + $placeholder-padding;
        z-index: 2;
        font-size: $placeholder-font-size;
        transition: all $placeholder-transition;
        width: 100%;
        cursor: text;
        color: $light-gray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.filled {
            top: 0;
            cursor: inherit;
            font-size: $placeholder-font-size-small;
        }

        &.empty {
            top: ($input-height / 2) + $placeholder-padding;
            font-size: $placeholder-font-size;
            cursor: text;
        }

        &.fixed {
            top: 0;
            cursor: inherit;
            font-size: $placeholder-font-size-small;
        }
    }

    .field-group {
        display: flex;
        flex-direction: row;

        .decorator {
            white-space: nowrap;
            display: flex;
            align-items: flex-end;
            font-size: unit(1);
            padding: unit(.25);
        }

        input,
        textarea,
        select {
            position: relative;
            flex-basis: auto;
        }
    }

    .error-message,
    .note {
        font-size: .9em;
        margin-top: unit(.25);
        left: 0;
        right: 0;
        top: unit(2.7);
        position: absolute;
        transition: transform 130ms ease-in-out, opacity 130ms ease-in-out;
        opacity: 1;

        &.hidden {
            transform: translateY(unit(-.5));
            transition: none !important;
            opacity: 0;
        }
    }

    .error-message {
        color: $warn-color;
    }

    .note {
        color: $light-gray;
        text-align: right;
    }

    input,
    textarea,
    select {
        position: absolute;
        top: $input-top;
        z-index: 1;
        width: 100%;
        font-size: $input-font-size;
        border: 0;
        border-bottom: unit(.0625) solid $input-border-color;
        transition: border-color $placeholder-transition;
        outline: none;
        padding: 0;
        margin: 0;
    }

    textarea {
        min-height: $input-height;
        padding: $placeholder-padding 0;
    }

    input {        
        height: $input-height;
    }
    select {
        height: $input-height;
    }

    input:focus,
    textarea:focus,
    select:focus {
        &+.placeholder {
            top: 0;
            cursor: inherit;
            font-size: $placeholder-font-size-small;
            color: $highlight-color;
        }

        &+.fixed-placeholder {
            cursor: inherit;
            font-size: $placeholder-font-size-small;
            color: $highlight-color;
        }

        border-bottom: unit(.125) solid $highlight-color;
    }

    &.error {
        .placeholder {
            color: $warn-color !important;
        }

        input,
        textarea,
        select {
            color: $warn-color;
            border-bottom: unit(.125) solid $warn-color;
        }
    }

    input:disabled,
    textarea:disabled,
    select:disabled {
        background-color: rgba(255, 255, 255, 0);
        color: $disabled-color;
        background-position: bottom;
        background-image: linear-gradient(to right, $disabled-color 0, $disabled-color 33%, transparent 0);
        background-size: unit(.25) unit(.0625);
        background-repeat: repeat-x;
        border-bottom: none;

        &+.placeholder.filled {
            color: $disabled-color;
        }
    }
}


.form-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: unit(1.75);
    font-size: unit(1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: unit(1.375);
    margin-bottom: unit(1);

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:disabled {
            ~.checkmark {
                background: #ededed !important;
                border-color: #ccc !important;
            }

            ~.placeholder {
                color: $light-gray;
            }

            &:checked {
                ~.checkmark {
                    border-color: #ededed !important;

                    &:after {
                        border-color: $light-gray  !important;
                    }
                }
            }
        }

        &:checked {
            ~.checkmark {
                background-color: $link-blue;
                border: unit(.125) solid $link-blue;

                &:after {
                    display: block;
                }
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: unit(1.25);
        width: unit(1.25);
        border-radius: $border-radius;
        border: unit(.125) solid rgba(0, 0, 0, .45);

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: unit(.3125);
            top: unit(.125);
            width: unit(.375);
            height: unit(.625);
            border: solid white;
            border-width: 0 unit(.1875) unit(.1875) 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .label {
        font-size: unit(1);
    }

    &:hover {
        input {
            ~.checkmark {
                background-color: rgba(0, 0, 0, .1);
            }

            &:checked {
                ~.checkmark {
                    background-color: darken($link-blue, 5%);
                    border-color: darken($link-blue, 5%);
                }
            }
        }
    }
}


.form-panel {    

    .error-counter {
        display: none;
    }

    .panel-head {        
        .panel-label {
            &::before {                
                transition: padding-right 50ms ease-in-out;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "";
                padding-right: 0;
            }
        }
    }

    &.error {

        &.collapsed {
            background-color: $warn-background !important;
        }

        .panel-head {
            color: $warn-color;

            .panel-label {
                &::before {
                    content: "\f06a";
                    padding-right: unit(.25);
                }
            }
        }

        .error-counter {
            display: block;
        }

        .panel-content .content-padding {
            border-color: $warn-color !important;
        }
    }
}

.form-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;

    &.row {
        flex-direction: row;
        align-items: flex-start;
    }

    &.column {
        flex-direction: column;
    }

    .spacer {
        padding: unit(1);
    }

    .form-input {
        flex-basis: 100%;

        &:last-child {
            margin-right: 0;
        }
    }
}