.toolbar {
    position: relative;
    display: flex;
    padding: unit(1.25) unit(2);
    align-items: center;

    .progress {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .label {
        flex-basis: 100%;
        margin: 0;
        padding: 0;
    }

    .spacer {
        padding: unit(.5);
    }

    .options {
        display: flex;
        color: $dark-gray;

        .group, .dt-buttons {
            display: flex;
            align-items: center;
            padding: 0 unit(1);

            &:last-child {
                padding-right: 0;
            }

            &:first-child {
                padding-left: 0;
            }

            & + .group, & + .dt-buttons {
                border-left: unit(.0625) solid $border-color;
            }
            
            button, .button {
                margin-left: unit(.5);

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        label {
            font-weight: 500;
            white-space: nowrap;
            margin-bottom: 0;
        }

        select {
            padding-left: unit(.25);
            width: auto !important;
            border: 0 none;
            color: $link-blue;
            font-weight: 500;
            font-size: unit(1);
            font-family: $font-family;

            &:focus {
                outline-width: 0;
            }
        }
    }
}