
[tooltip] {
    cursor: pointer;
    position: relative;
    
    &:before, &:after {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all .15s cubic-bezier(.5, 1, .25, 1);
        z-index: 10;
    }
    
    &:before {
        padding: unit(.3125);
        width: unit(.6875);
        border-radius: $border-radius;
        background: rgba(0,0,0,.6);
        color: #fff;
        content: attr(tooltip);
        text-align: center;
        font-size: unit(.9) !important;
        font-weight: normal;
        line-height: 1.2;
    }
    
    &:after {
        border: unit(.5) solid transparent;
        width: 0;
        content: "";
        font-size: 0;
        line-height: 0;
    }
    
    /********** Default Behavior **********/
    &:hover:before, &:hover:after {
        visibility: visible;
        opacity: 1;
    }
    
    /********** Tooltip Sizes **********/
    &.t-xl:before {
        width: unit(1.25);
    }
    
    &.t-lg:before {
        width: unit(1.0625);
    }
    
    &.t-md:before {
        width: unit(.875);
    }
    
    &.t-sm:before {
        width: unit(.6875);
    }
    
    &.t-xs:before {
        width: unit(.5);
    }

    &.t-xxs:before {
        width: unit(.25);
    }
    
    /********** Top Tooltip **********/
    &.t-top {
        &:before {
            bottom: 100%;
            left: 50%;
            //margin-bottom: 5px;
            transform: translateX(-50%);
        }
      
      &:hover:before, &:hover:after {
        transform: translateX(-50%) translateY(-5px);
      }
    }
      
      
    /********** Right Tooltip **********/
    &.t-right {
        &:before {
            top: 50%;
            left: 100%;
            //margin-left: 5px;
            transform: translateY(-50%);
        }
      
      
      &:hover:before, &:hover:after {
        transform: translateX(.5rem) translateY(-50%);
      }
    }      
    
    /********** Bottom Tooltip **********/
    &.t-bottom {
        &:before {
            top: 100%;
            left: 50%;
            //margin-top: 5px;
            transform: translateX(-50%);
        }
      
      &:hover:before, &:hover:after {
        transform: translateX(-50%) translateY(5px);
      }
    
    }
    
    /********** Left Tooltip **********/
    &.t-left {
        &:before {
            top: 50%;
            right: 100%;
            //margin-right: 5px;
            transform: translateY(-50%);
        }
      
      &:hover:before, &:hover:after {
        transform: translateX(-.5rem) translateY(-50%);
      }
    }    
}
