@media screen and (-ms-high-contrast: active),
screen and (-ms-high-contrast: none) {

    /* IE10+ specific styles go here */
    .card {
        display: block !important;
        .card-title {
            .label,
            .search {
                flex-basis: auto !important;
            }
        }
    }
}

.card {
    background-color: #fff;
    flex-basis: auto;
    flex-direction: column;
    border-radius: @border-radius;
    margin: unit(@spacing * .5, px);
    border: 1px solid @border-color;

    &.fill {
        height: 100%;
        width: 100%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    &.borderless {
        border: 0 none;
        border-radius: 0;
    }

    .raised & {
        border: 0 none;
        box-shadow: @elevation;
    }

    .card-toolbars {
        display: flex;
        min-height: 55px;
    }

    .card-title {
        flex-basis: 100%;
        display: flex;
        padding: 0 unit(@spacing * 1.5, px);
        border-bottom: 1px solid @border-color;
        min-height: 55px;

        &.primary {
            padding: unit(@spacing *.75, px) 0;
            margin: unit(@spacing *.5, px) unit(@spacing * 1.5, px) 0 unit(@spacing * 1.5, px);
            border-bottom: 4px solid @accent-color;
        }

        &.secondary {
            border-bottom: 0 none;
        }

        .label {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-basis: 100%;
            margin: 0;
            padding: 0 unit(@spacing, px) 0 0;
            align-items: center;
            display: flex;
        }

        .search {
            display: flex;
            flex-basis: 100%;
            font-size: 1.3em;
            align-items: center;

            input {
                border: 0;
                width: 100% !important;
                margin: 0 !important;
                outline: none;
                padding: 4px unit(@spacing * .5, px) 0 unit(@spacing *.5, px);
            }
        }

        .options {
            white-space: nowrap;
            display: flex;
            font-size: 1.3em;
            color: #555;
            align-items: center;

            @disabled-color: #888;

            button {
                margin-left: unit(@spacing * .25, px);
                color: #555;
                font-weight: 400;

                &:disabled {
                    color: @disabled-color !important;
                    cursor: not-allowed;
                }

                &.primary {
                    color: @primary-color !important;

                    &:disabled {
                        color: @disabled-color !important;
                    }

                    &.raised {
                        color: #fff !important;

                        &:disabled {
                            color: @disabled-color !important;
                        }
                    }
                }

                &.raised {
                    font-size: 14px;
                }

                &.accent {
                    color: @accent-color !important;

                    &:disabled {
                        color: @disabled-color !important;
                    }

                    &.raised {
                        color: #fff !important;

                        &:disabled {
                            color: @disabled-color !important;
                        }
                    }
                }

                &.warn {
                    color: @red !important;

                    &:disabled {
                        color: @disabled-color !important;
                    }

                    &.raised {
                        color: #fff !important;

                        &:disabled {
                            color: @disabled-color !important;
                        }
                    }
                }
            }

            .select {
                display: flex;
                align-items: center;
                font-size: .8em;
                font-weight: 500;
                padding: 0 unit(@spacing *.5, px);
                margin-right: unit(@spacing *.5, px);
                border-right: 1px solid @border-color;
                height: 100%;

                &:first-child {
                    border-left: 1px solid @border-color;
                    padding-left: unit(@spacing, px);
                }

                &:last-child {
                    margin-right: unit(@spacing * .25, px);
                }

                button {
                    color: @accent-color;
                }

                select {
                    padding-left: unit(@spacing * .25, px);
                    font-family: @font-family;
                    width: auto !important;
                    border: 0 none;
                    color: @accent-color;

                    &:focus {
                        outline-width: 0;
                    }
                }
            }
        }
    }

    .message {
        padding: unit(@spacing, px) unit(@spacing * 1.5, px);
        color: @light-gray;
        font-weight: 500;
        background-color: #eee;
        font-family: @font-family;

        &.hidden {
            display: none;
        }

        &.info {
            color: @blue;
            background-color: @info-background;
        }

        &.success {
            color: @green;
            background-color: @success-background;
        }

        &.warn {
            color: @red;
            background-color: @warn-background;
        }

        .secondary {
            font-weight: 400;
            display: block;
            font-size: .9em;
            font-style: italic;
            padding-top: unit(@spacing *.5,px);
        }
    }

    .card-content {
        flex-basis: 100%;
        padding: unit(@spacing * 1.5, px);

        p:first-child {
            margin-top:0px;
        }

        &.data-table {
            padding: 0;
        }

        .raised & {
            border: 0 none;
        }

        &.report {
            padding: 0;
            flex-basis: 100%;

            iframe {
                display: flex;
                width: 100%;
                height: 100%;
                border: 0 none;
            }
        }
    }
}

@media @phone {
    .card {
        .card-title {
            flex-direction: column;
            height: auto;
            max-height: 100%;

            .options {
                padding-top: unit(@spacing, px);

                .dt-buttons {
                    margin: 0;
                    width: auto;
                }

                .select {
                    &:first-child {
                        border-left: 0 none;
                        padding-left: 0;
                    }
                }
            }

        }
    }
}