nav {
    background-color: @primary-color;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    flex-shrink: 0;
    min-width: 200px;

    &::-webkit-scrollbar {
        width: unit(@spacing * .55, px);
        overflow: hidden;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: rgba(255,255,255,.7);
    }

    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.3);
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0,0,0,.25); 
    }

    .menu {
        .label {
            padding:unit(@spacing * 2, px)  unit(@spacing, px) unit(@spacing * .5, px) unit(@spacing, px);
            font-weight: 500;
            font-size: 1.2em;
        }

        .nav-item, a {
            display: block;
            padding: unit(@spacing * .5, px) unit(@spacing, px);
        }
    }

    .nav-item, a {
        display: block;
        margin: 2px 0;
        font-size: 1em;
        font-weight: 400;
        padding: unit(@spacing, px);
        text-decoration: none !important;
        color: #fff !important;
        cursor: pointer;

        &:hover {
            background-color: rgba(0,0,0,.15);
        }

        &.active {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}