nav {
  background-color: #013E5A;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: auto;
  flex-shrink: 0;
  min-width: 200px;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
nav::-webkit-scrollbar {
  width: 8.8px;
  overflow: hidden;
}
nav::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.7);
}
nav::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}
nav::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}
nav .menu .label {
  padding: 32px 16px 8px 16px;
  font-weight: 500;
  font-size: 1.2em;
}
nav .menu .nav-item,
nav .menu a {
  display: block;
  padding: 8px 16px;
}
nav .nav-item,
nav a {
  display: block;
  margin: 2px 0;
  font-size: 1em;
  font-weight: 400;
  padding: 16px;
  text-decoration: none !important;
  color: #fff !important;
  cursor: pointer;
}
nav .nav-item:hover,
nav a:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
nav .nav-item.active,
nav a.active {
  background-color: rgba(0, 0, 0, 0.3);
}
main {
  overflow: auto;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
#pen-card {
  height: 100%;
  width: 100%;
  display: flex;
}
body {
  display: flex;
  overflow: hidden;
}
