@import './common/_vars';

@import '../plugins/DataTables/css/dataTables.bootstrap.min.scss';
@import '../plugins/DataTables/css/buttons.bootstrap.min.scss';
@import '../plugins/DataTables/css/bootstrap-glyphicons.scss';

.dataTables_wrapper {
    .dataTables_length, .dataTables_info, .dataTables_paginate{
        &, & label {
            display: flex;
            flex-shrink: 0;
            align-items: center;
        }
    }

    .table {
        margin-bottom: 0;
    }
    
}

table.data-table.dataTable {
    width: 100% !important;
    border-spacing: 0;
    background-color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-family: $font-family;

    thead > tr {
        min-height: unit(3.5);

        th { 
            text-align: left;
            padding-top: unit(.5);
            padding-bottom: unit(.5);
        }
    }

    tr {
        height: unit(3);

        &.warn {
            background-color: $warn-background;
            color: $warn-color;
            font-weight: 500;

            &.clickable {
                &:hover {
                    background-color: darken($warn-background, 5%);
                }
            }
        }

        &.success {
            background-color: $success-background;
            color: $success-color;
            font-weight: 500;

            a {
                color: $success-color;
            }

            &.clickable {
                &:hover {
                    background-color: darken($success-background, 5%);
                }
            }
        }

        &.info {
            background-color: $info-background;
            color: $info-color;
            font-weight: 500;

            &.clickable {
                &:hover {
                    background-color: darken($info-background, 5%);
                }
            }
        }

        &.clickable {
            cursor: pointer;
        }

        th {
            &.no-label {
                &:after {
                    right: 0 !important;
                }
            }
            &.no-sort {
                &:after {
                    display: none;
                }
            }
        }

        td, th {
            border-bottom: unit(.0625) solid $border-color;
            padding-left: unit(2);
            padding-right: unit(2.625);

            &:first-of-type {
                padding-left: unit(2);
            }

            &:last-of-type {
                padding-right: unit(2) !important;
            }

            &.nopadding-right {
                padding-right: 0 !important;
            }
        }
        
    }

    .sorting, .sorting_desc, .sorting_asc {
        padding-right: unit(1) + 2.3rem !important;

        // &:after {
        //     bottom: unit(.875) !important;
        //     right: unit(1.125) !important;
        // }
    }

    .sorting_desc, .sorting_asc {
        font-weight: 700 !important;
    }

    .sorting {
        &:after {
            display: none !important;
            opacity: .3 !important;
        }

        &:hover {
            &:after {
                display: block !important;
            }
        }
    }

    a {
        display: block;
        position: relative;
        &:hover {
            .hover-hide {
                margin-left: unit(.5);
                top: unit(.0625);
                display: inline;
                position: absolute;
            }
        }
        .hover-hide {
            display: none;
        }
    }

    .row-actions {
        font-size: unit(.8125);
        a.button.icon, button {         
            display: inline-block;
            line-height: unit(2.0625);
        }
    }

    .right {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    .fill {
        width: 100% !important;
    }

    .collapse {
        width: unit(.0625) !important;
    }
}

.dataTables_wrapper {
    position: relative;

    .table {
        overflow: auto;
    }

    .footer {
        display: flex;

        .spacer {
            flex-basis: 100%;
        }
    }

    .dataTables_length, .dataTables_paginate, .dataTables_info {
        padding: unit(1) unit(2) !important;
        font-size: unit(.9);
        color: #777;
    }

    .dataTables_length {
        padding: unit(.6875) unit(2) !important;

        select {
            width: auto !important;
            border: 0 none;
            border-bottom: unit(.0625) solid $light-gray;
            padding: unit(.25) unit(.5) unit(.25) 0;
        }
    }

    .dataTables_paginate {
        padding: unit(.4375) unit(2) !important;

        .paginate_button {
            padding: 0 unit(.4375);
            border-radius: 50%;
            font-size: unit(2);
            color: #333;
            text-decoration: none;
            margin-left: unit(.25);
            transform: scaleX(.75);
            display: inline-block;
            text-indent: unit(.5);

            &.disabled {
                color: #ccc;
                cursor: default;
            }
        }
    }

    .dataTables_empty {
        vertical-align: middle;
        color: $gray;
        text-align: center;
        padding: unit(2);
    }

    .dataTables_filter {
        display: none;
    }
}

@media #{$phone} {
    .dataTables_wrapper {
        .dataTables_length {
            display: none;
        }
    }
}